@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Festive&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Shalimar&family=ZCOOL+XiaoWei&display=swap");
.mainContainer {
  background-image: url("../../../assets/images/277eb1d795931a400e9f31956d3d788b.jpg");
  background-size: contain;
  width: 100vw;
  height: auto;
  color: white;
  font-family: "Festive", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
}
h1 {
  font-size: 80px;
  letter-spacing: 2mm;
}
.componentContainer {
  background-color: rgba(39, 26, 4, 0.7);
  width: 85vw;
  height: auto;
  padding-bottom: 18%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 675px) {
  h1 {
    font-size: 17vw;
    margin-top: 7%;
  }
}
