* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  position: sticky;
  top: 0;
  margin: 1%;
}
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 675px) {
}
/* desktop */
@media only screen and (min-width: 676px) {
  .nav {
    background-color: transparent;
    width: 100%;
    height: 70px;
    padding: 2%;
  }
}
