@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap");
.cardDetailsContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  background: #dfc2f2;
  background-image: linear-gradient(to right, orange, #f50aba);
  background-attachment: fixed;
  background-size: cover;
  border-radius: 4%;
  margin: 5%;
}
.cardDetails {
  width: 80%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
}
.leftCardDetails {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 3px;
  float: left;
  width: 50%;
  font-size: 13px;
}
.leftCardDetails h2 {
  font-family: "Bebas Neue", cursive;
  position: relative;
  color: #344055;
  margin: 0;
  font-size: 15px;
}

.leftCardDetails h2:before {
  position: absolute;
  content: "";
  right: 0%;
  top: 0%;
  transform: translate(25px, -15px);
  font-family: "Bree Serif", serif;
  display: inline-block;
  background: #ffe6e6;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 0;
  animation: chan-sh 6s ease infinite;
}
.labelValueList {
  list-style-type: none;
  font-family: "EB Garamond", serif;
  font-size: 10px;
  color: #413f3f;
  padding: 3px;
}
.control {
  position: absolute;
  bottom: 10%;
  left: 22.8%;
}
.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #ffb980;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: black;
  height: 3vw;
  width: 10vw;
  font-size: 10px;
  margin: 2%;
  font-family: "EB Garamond", serif;
}

.btn:hover {
  background: rgb(236, 135, 4);
}
.rightCardDetails {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50%;
}
.rightCardDetails img {
  width: 100%;
  height: 100%;
}
.info {
  background: rgba(27, 26, 26, 0.9);
  font-family: "Bree Serif", serif;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: left;
  font-size: 70%;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 4%;
}
.info h2 {
  text-align: center;
}
.rightCardDetails:hover .info {
  transform: translateX(0);
}
.info ul li {
  transition: 0.3s ease;
  list-style-type: none;
  color: white;
}
.info ul li:hover {
  transform: translateX(40px) scale(1.1);
}

.rightCardDetails:hover img {
  transition: all 0.3s ease-out;
}
.rightCardDetails:hover img {
  transform: scale(1.1, 1.1);
}
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 675px) {
  .cardDetails {
    box-shadow: 0 10px 20px 1px grey;
    display: flex;
    color: red;
  }
  .info h2 {
    font-size: 20px;
  }
  .controls{
    font-size: 5px;
  }
}
/* desktop */
@media only screen and (min-width: 676px) {
  .leftCardDetails {
    padding: 30px;
    font-size: 35px;
  }
  .leftCardDetails h2 {
    font-size: 45px;
  }

  .labelValueList {
    font-size: 30px;
    padding: 5px;
  }

  .btn {
    font-size: 20px;
  }

  .info h2 {
    font-size: 40px;
  }
}
