.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 30px;
   margin-top:2%
}
.card {
  background-color: black;
  width: 16vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 8%;
  border-radius: 25px 95px;
  gap: 6%;
  font-size: 30px;
}
.height {
  text-align: center;
  padding: 2%;
}
.cardImg {
  width: 50px;
  height: 50px;
}
.card:hover {
  height: 21vw;
  background-color: rgba(189, 27, 59, 0.8);
}
.knowMoreLink {
  text-decoration: none;
}
.card span {
  color: rgb(255, 166, 0);
  font-size: 31px;
}
